/* block.identity-basic */
[data-scope="block.identity-basic"][data-role="label"] { font-size: xx-large; }

.theme-hero-unit > [data-design="unit-head"] {
	font-size: calc(3 * var(--theme-size));
}

.theme-hero-unit > [data-design="unit-body"] {
	font-size: calc(3 * var(--theme-size));
}
