<script>
	const design = fanstatic.design;

	return async function(roof, data = {}, url) {
		const panelScope = fanstatic.resolvePanelScope(url)
		const scope = data.scope || panelScope;
		
		roof.innerHTML = fanstatic.renderJhtm(design.wrap([
			design.element('header'), design.element('main'), design.element('footer'),
		]))

		const panelElement = roof.children[0];
		const headerElement = panelElement.children[0];
		const mainElement = panelElement.children[1];
		const footerElement = panelElement.children[2];

		panelElement.dataset['panel'] = scope;

		if (data.header) {
			headerElement.innerHTML = fanstatic.renderJhtm(data.header);
		}

		if (data.main) {
			mainElement.innerHTML = fanstatic.renderJhtm(data.main);
		}

		if (data.footer) {
			footerElement.innerHTML = fanstatic.renderJhtm(data.footer);
		}

		this.controller = {
			panelElement: panelElement,
			headerElement: headerElement,
			mainElement: mainElement,
			footerElement: footerElement,
		};
	}
</script>