<script>
	const design = fanstatic.design;

	return async function(roof, data = {}, url) {
		const panelScope = data.panelScope || fanstatic.resolvePanelScope(url)
		const outerScope = data.scope;
		const innerScope = data.innerScope || outerScope || data.id || panelScope;

		roof.innerHTML = fanstatic.renderJhtm(design.wrap([
			design.element('header'), design.element(data.$mainTag || 'main'), design.element('footer'),
		]))

		const panelElement = roof.children[0];
		const headerElement = panelElement.children[0];
		const mainElement = panelElement.children[1];
		const footerElement = panelElement.children[2];

		if (data.id) panelElement.id = data.id;
		if (outerScope) panelElement.dataset.pnScope = outerScope;
		panelElement.dataset.pnPanel = panelScope;

		this.controller = {
			panelElement: panelElement,
			headerElement: headerElement,
			mainElement: mainElement,
			footerElement: footerElement
		};

		let headerProm, mainProm, footerProm;

		if (data.header)
			headerProm = fanstatic.applyContent(headerElement, data.header, innerScope);
		if (data.main)
			mainProm = fanstatic.applyContent(mainElement, data.main, innerScope);
		if (data.footer)
			footerProm = fanstatic.applyContent(footerElement, data.footer, innerScope);
			
		const resolves = await Promise.all([headerProm, mainProm, footerProm]);

		this.controller.headerController = resolves[0];
		this.controller.mainController = resolves[1];
		this.controller.footerController = resolves[2];
	}
</script>