<div>
	<header></header>
	<div data-pn="columns">
		<div data-pn="startColumn"></div>
		<main data-pn="mainColumn"></main>
		<div data-pn="endColumn"></div>
	</div>
	<footer></footer>
</div>

<script>
	const design = fanstatic.design;

	return async function(roof, data = {}, url) {
		const panelScope = data.panelScope || fanstatic.resolvePanelScope(url)
		const scope = data.scope || panelScope;
		
		const panelElement = roof.children[0];
		const headerElement = panelElement.children[0];
		const columnsElement = panelElement.children[1];
		const footerElement = panelElement.children[2];

		panelElement.dataset.pnPanel = panelScope;
		panelElement.dataset.pnScope = scope;

		this.controller = {
			panelElement: panelElement,
			headerElement: headerElement,
			startColumnElement: columnsElement.children[0],
			mainColumnElement: columnsElement.children[1],
			endColumnElement: columnsElement.children[2],
			footerElement: footerElement,
		}

		let headerProm, startProm, mainProm, endProm, footerProm;

		if (data.header) {
			if (data.header instanceof fanstatic.panel) {
				headerProm = fanstatic.appendPanel(headerElement, data.header.panelScope, data.header.options, data.header.optMode); 
			}
		}

		if (data.startColumn) {
			if (data.header instanceof fanstatic.panel) {
				startProm = fanstatic.appendPanel(headerElement, data.startColumn.panelScope, data.startColumn.options, data.startColumn.optMode); 
			}
		}

		if (data.mainColumn) {
			if (data.header instanceof fanstatic.panel) {
				mainProm = fanstatic.appendPanel(headerElement, data.mainColumn.panelScope, data.mainColumn.options, data.mainColumn.optMode); 
			}
		}

		if (data.endColumn) {
			if (data.header instanceof fanstatic.panel) {
				endProm = fanstatic.appendPanel(headerElement, data.endColumn.panelScope, data.endColumn.options, data.endColumn.optMode); 
			}
		}

		if (data.footer) {
			if (data.header instanceof fanstatic.panel) {
				footerProm = fanstatic.appendPanel(headerElement, data.footer.panelScope, data.footer.options, data.footer.optMode); 
			}
		}

		if (!headerProm) headerProm = new Promise(resolve => resolve(null));
		if (!startProm) startProm = new Promise(resolve => resolve(null));
		if (!mainProm) mainProm = new Promise(resolve => resolve(null));
		if (!endProm) endProm = new Promise(resolve => resolve(null));
		if (!footerProm) footerProm = new Promise(resolve => resolve(null));

		const resolves = await Promise.all([headerProm, startProm, mainProm, endProm, footerProm]);

		this.controller.headerController = resolves[0];
		this.controller.startColumnController = resolves[1];
		this.controller.mainColumnController = resolves[2];
		this.controller.endColumnController = resolves[3];
		this.controller.footerColumnController = resolves[4];
	}
</script>