<div>
	<header></header>
	<div data-pn="columns">
		<div data-pn="startColumn"></div>
		<span data-ds-placeholder="main"></span>
		<div data-pn="endColumn"></div>
	</div>
	<footer></footer>
</div>

<script>
	const design = fanstatic.design;

	return async function(roof, data = {}, url) {
		const panelScope = data.panelScope || fanstatic.resolvePanelScope(url)
		const outerScope = data.scope;
		const innerScope = data.innerScope || outerScope || data.id || panelScope;
		
		const panelElement = roof.children[0];
		const headerElement = panelElement.children[0];
		const columnsElement = panelElement.children[1];
		const footerElement = panelElement.children[2];

		if (data.id) panelElement.id = data.id;
		if (outerScope) panelElement.dataset.pnScope = outerScope;
		panelElement.dataset.pnPanel = panelScope;

		const mainColumnElement = document.createElement(data.$mainTag || 'main');
		mainColumnElement.dataset.pn = 'mainColumn';
		columnsElement.children[1].replaceWith(mainColumnElement),

		this.controller = {
			panelElement: panelElement,
			headerElement: headerElement,
			startColumnElement: columnsElement.children[0],
			mainColumnElement: columnsElement.children[1],
			endColumnElement: columnsElement.children[2],
			footerElement: footerElement,
		}

		let headerProm, startProm, mainProm, endProm, footerProm;

		if (data.header) {
			headerProm = fanstatic.applyContent(headerElement, data.header, innerScope);
		}

		if (data.startColumn) {
			startProm = fanstatic.applyContent(this.controller.startColumnElement, data.startColumn, innerScope);
		}

		if (data.mainColumn) {
			//if (fanstatic.isTemplate(data.mainColumn)) data.mainColumn.assignData({ scope: outerScope });
			mainProm = fanstatic.applyContent(this.controller.mainColumnElement, data.mainColumn, innerScope);
		}

		if (data.endColumn) {
			//if (fanstatic.isTemplate(data.endColumn)) data.endColumn.assignData({ scope: outerScope });
			endProm = fanstatic.applyContent(this.controller.endColumnElement, data.endColumn, innerScope);
		}

		if (data.footer) {
			//if (fanstatic.isTemplate(data.footer)) data.footer.assignData({ scope: outerScope });
			footerProm = fanstatic.applyContent(footerElement, data.footer, innerScope);
		}

		const resolves = await Promise.all([headerProm, startProm, mainProm, endProm, footerProm]);

		this.controller.headerController = resolves[0];
		this.controller.startColumnController = resolves[1];
		this.controller.mainColumnController = resolves[2];
		this.controller.endColumnController = resolves[3];
		this.controller.footerColumnController = resolves[4];
		this.controller.scope = outerScope;
		this.controller.panelScope = panelScope;
	}
</script>