/* variables */



/* BASE RULES */

/* { box-sizing: border-box; } */

html {
	font-size: 14px;
    line-height: 1.5;
	letter-spacing: .7px;
}

body {
	background-color: var(--theme-color);
	color: var(--theme-color-on-dark-8);
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
	background-color: var(--theme-color-primary);
	color: var(--theme-color-on-dark-3);
}

figure {
	margin: 0;
}

img {
	display: block;
}

section { 
	width: 100%; 
	background-color: var(--theme-bg-color-section);
}

section:not(:last-child) { 
	margin-bottom: var(--theme-margin);
}

/* LAYOUT RULES */

.theme-pi-0 { padding-inline: 0; }
.theme-pi-1 { padding-inline: calc(.25 * var(--theme-padding)); }
.theme-pi-2 { padding-inline: calc(.5 * var(--theme-padding)); }
.theme-pi-3 { padding-inline: var(--theme-padding); }
.theme-pi-4 { padding-inline: calc(2 * var(--theme-padding)); }
.theme-pi-5 { padding-inline: calc(2.5 * var(--theme-padding)); }

.theme-pb-0 { padding-block: 0; }
.theme-pb-1 { padding-block: calc(.25 * var(--theme-padding)); }
.theme-pb-2 { padding-block: calc(.5 * var(--theme-padding)); }
.theme-pb-3 { padding-block: var(--theme-padding); }
.theme-pb-4 { padding-block: calc(2 * var(--theme-padding)); }
.theme-pb-5 { padding-block: calc(2.5 * var(--theme-padding)); }

.theme-container {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1000px;
	padding-inline: var(--theme-padding);
}

.theme-layout-3cols {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.theme-clear-float {
	clear: both;
}

/* THEME RULES */

.theme-container {
	background-color: var(--theme-bg-color-section-darker);
}

.theme-display-1 { font-size: 1.5rem; }
.theme-display-2 { font-size: 2rem; }
.theme-display-3 { font-size: 3rem; }

[data-ds=unit] {
	background-color: var(--theme-bg-color-section-lighter);
}