:root {
	--theme-spacer: 1.5rem;
	--theme-gutter: .5rem;
	--theme-margin: 1rem;
	--theme-padding: 1rem;

	--theme-zindex-dropdown:                   1000;
	--theme-zindex-sticky:                     1020;
	--theme-zindex-fixed:                      1030;
	--theme-zindex-offcanvas-backdrop:         1040;
	--theme-zindex-offcanvas:                  1045;
	--theme-zindex-modal-backdrop:             1050;
	--theme-zindex-modal:                      1055;
	--theme-zindex-popover:                    1070;
	--theme-zindex-tooltip:                    1080;
	--theme-zindex-toast:                      1090;

	--theme-dark-8: #000000;
	--theme-dark-7: #111111;
	--theme-dark-6: #232323;
	--theme-dark-5: #343434;
	--theme-dark-4: #464646;
	--theme-dark-3: #575757;
	--theme-dark-2: #696969;
	--theme-dark-1: #7A7A7A;
	
	--theme-color: #F9F9F9;

	--theme-color-on-dark-8: hsl(from var(--theme-color) h s 20%);
	--theme-color-on-dark-7: hsl(from var(--theme-color) h s 30%);
	--theme-color-on-dark-6: hsl(from var(--theme-color) h s 40%);
	--theme-color-on-dark-5: hsl(from var(--theme-color) h s 50%);
	--theme-color-on-dark-4: hsl(from var(--theme-color) h s 60%);
	--theme-color-on-dark-3: hsl(from var(--theme-color) h s 70%);
	--theme-color-on-dark-2: hsl(from var(--theme-color) h s 80%);
	--theme-color-on-dark-1: hsl(from var(--theme-color) h s 90%);

	--theme-color-primary: #0A014F;
	--theme-color-secondary: #383F51;
	--theme-color-success: #5AA9E6;
	--theme-color-error: #FF6392;
	--theme-color-warning: #FFE45E;
	--theme-color-info: #7FC8F8;
	--theme-color-muted: var(--theme-dark-5);

	--theme-color-brand: #0A014F;
	--theme-color-brand-accent: #3223a5;

}

/*
Palette (7): https://coolors.co/visualizer/5aa9e6-7fc8f8-f9f9f9-ffe45e-ff6392-383f51-0a014f
Dark shades (8): https://coolors.co/visualizer/000000-111111-232323-343434-464646-575757-696969-7a7a7a
*/

.theme-w-full {
	width: 100%;
}

.theme-d-grid {
	display: grid;
}

.theme-d-flex, .theme-d-flex-evenly {
	display: flex;
}

.theme-d-flex-evenly > * {
	flex: 1;
}

.theme-sticky-top { position: sticky; top: 0; z-index: var(--theme-zindex-sticky); }
.theme-sticky-bottom { position: sticky; top: 0; z-index: var(--theme-zindex-sticky); }
.theme-fixed-top { position: fixed; top: 0; z-index: var(--theme-zindex-fixed); }
.theme-fixed-bottom { position: fixed; top: 0; z-index: var(--theme-zindex-fixed); }

/* colors */

.theme-link-on-dark-2 { color: var(--theme-color-on-dark-2); }
.theme-link-on-dark-2:hover { color: var(--theme-color-on-dark-1); }
.theme-link-on-dark-2:visited { color: var(--theme-color-on-dark-4); }

.theme-link-on-dark-4 { color: var(--theme-color-on-dark-4); }
.theme-link-on-dark-2:hover { color: var(--theme-color-on-dark-3); }
.theme-link-on-dark-2:visited { color: var(--theme-color-on-dark-5); }

.theme-link-on-dark-6 { color: var(--theme-color-on-dark-6); }
.theme-link-on-dark-6:hover { color: var(--theme-color-on-dark-5); }
.theme-link-on-dark-6:visited { color: var(--theme-color-on-dark-7); }