:root {
	--theme-zindex-dropdown:                   1000;
	--theme-zindex-sticky:                     1020;
	--theme-zindex-fixed:                      1030;
	--theme-zindex-offcanvas-backdrop:         1040;
	--theme-zindex-offcanvas:                  1045;
	--theme-zindex-modal-backdrop:             1050;
	--theme-zindex-modal:                      1055;
	--theme-zindex-popover:                    1070;
	--theme-zindex-tooltip:                    1080;
	--theme-zindex-toast:                      1090;
}

.theme-w-full {
	width: 100%;
}

.theme-d-flex {
	display: flex;
}

.theme-d-flex > .theme-flex-fill {
	flex: 1;
}

.theme-sticky-top { position: sticky; top: 0; z-index: var(--theme-zindex-sticky); }
.theme-fixed-top { position: fixed; top: 0; z-index: var(--theme-zindex-fixed); }