/*
.theme-w-full {
	width: 100%;
}

.theme-d-grid {
	display: grid;
}

.theme-d-flex, .theme-d-flex-evenly {
	display: flex;
}

.theme-d-flex-evenly > * {
	flex: 1;
}

.theme-pt {
	padding-top: calc(var(--theme-space-padding) * var(--theme-padding));
}

.theme-pr {
	padding-right: calc(var(--theme-space-padding) * var(--theme-padding));
}

.theme-pb {
	padding-bottom: calc(var(--theme-space-padding) * var(--theme-padding));
}

.theme-pl {
	padding-left: calc(var(--theme-space-padding) * var(--theme-padding));
}

.theme-pblock {
	padding-block: calc(var(--theme-space-padding) * var(--theme-padding));
}

.theme-pinline {
	padding-inline: calc(var(--theme-space-padding) * var(--theme-padding));
}

.theme-text-start { text-align: start; }
.theme-text-center { text-align: center; }
.theme-text-end { text-align: end; }

.theme-sticky-top { position: sticky; top: 0; z-index: var(--theme-zindex-sticky); }
.theme-sticky-bottom { position: sticky; top: 0; z-index: var(--theme-zindex-sticky); }
.theme-fixed-top { position: fixed; top: 0; z-index: var(--theme-zindex-fixed); }
.theme-fixed-bottom { position: fixed; top: 0; z-index: var(--theme-zindex-fixed); }

.theme-notes-flex-centered-1 {
	display: flex; justify-content: center; gap: 1ch; 
	margin: 0 auto;
}

.theme-fs-2 {
	font-size: 2rem;
}

.theme-fs-3 {
	font-size: 3rem;
}

.theme-fs-4 {
	font-size: 4rem;
}

.theme-fs-5 {
	font-size: 5rem;
}

.theme-fsr-025 {
	font-size: .25em;
}

.theme-fsr-050 {
	font-size: .5em;
}

.theme-fsr-075 {
	font-size: .75em;
}

.theme-fsr-125 {
	font-size: 1.25em;
}

.theme-fsr-150 {
	font-size: 1.5em;
}

.theme-fsr-200 {
	font-size: 2em;
}

/* colors

.theme-link-on-dark-2 { color: var(--theme-color-on-dark-2); }
.theme-link-on-dark-2:hover { color: var(--theme-color-on-dark-1); }
.theme-link-on-dark-2:visited { color: var(--theme-color-on-dark-4); }

.theme-link-on-dark-4 { color: var(--theme-color-on-dark-4); }
.theme-link-on-dark-2:hover { color: var(--theme-color-on-dark-3); }
.theme-link-on-dark-2:visited { color: var(--theme-color-on-dark-5); }

.theme-link-on-dark-6 { color: var(--theme-color-on-dark-6); }
.theme-link-on-dark-6:hover { color: var(--theme-color-on-dark-5); }
.theme-link-on-dark-6:visited { color: var(--theme-color-on-dark-7); }

*/