:root {
	--ng-spacer-1: 0.25rem;
	--ng-spacer-2: .5rem;
	--ng-spacer-3: 1rem;
	--ng-spacer-4: 1.5rem;
	--ng-spacer-5: 3rem;
	--ng-cursor-on-hover: pointer;
	--ng-bg-color-on-hover: var(--bs-light);
}

.bg-color-on-hover:hover {
	background-color: var(--ng-bg-color-on-hover);
}

.cursor-on-hover:hover {
	cursor: var(--ng-cursor-on-hover);
}

.underline-on-hover:hover {
	text-decoration: underline;
}

.w-auto { width: auto !important; }
.w-fit { width: fit-content !important; }
.nmx {
	margin-left: calc(var(--bs-gutter-x) * -0.5);
	margin-right: calc(var(--bs-gutter-x) * -0.5); 
}
.nms { margin-left: calc(var(--bs-gutter-x) * -0.5) }
.nme { margin-right: calc(var(--bs-gutter-x) * -0.5) }

.hmin-50px { min-height: 50px; }
.hmin-100px { min-height: 100px; }
.hmin-150px { min-height: 150px; }
.hmin-200px { min-height: 200px; }
.hmin-250px { min-height: 250px; }
.hmin-300px { min-height: 300px; }
.hmin-350px { min-height: 350px; }
.hmin-400px { min-height: 400px; }
.hmin-450px { min-height: 450px; }
.hmin-500px { min-height: 500px; }
.hmin-550px { min-height: 550px; }
.hmin-600px { min-height: 600px; }
.hmin-650px { min-height: 650px; }

.x-image-fit.s-image-orientation-p { height:100% }
.x-image-fit.s-image-orientation-l { width:100% }
.x-image-container-w > .x-image-fit.s-image-orientation-s { width:100% }
.x-image-container-t > .x-image-fit.s-image-orientation-s { height:100% }
.x-image-container-s > .x-image-fit.s-image-orientation-s { height:100% }

@media (min-width: 576px) {
	.w-sm-50 { width: 50% !important; }
	.w-sm-75 { width: 75% !important; }
	.w-sm-auto { width: auto !important; }
	.w-sm-fit { width: fit-content !important; }

	.border-sm { 
		border-width: var(--bs-border-width); border-style: var(--bs-border-style);
		border-color: var(--bs-border-color);
	}

	.border-sm-0 { border: 0 !important; }

	.rounded-sm-3 { border-radius: var(--bs-border-radius-lg) !important; }

	.hmin-sm-50px { min-height: 50px; }
	.hmin-sm-100px { min-height: 100px; }
	.hmin-sm-150px { min-height: 150px; }
	.hmin-sm-200px { min-height: 200px; }
	.hmin-sm-250px { min-height: 250px; }
	.hmin-sm-300px { min-height: 300px; }
	.hmin-sm-350px { min-height: 350px; }
	.hmin-sm-400px { min-height: 400px; }
	.hmin-sm-450px { min-height: 450px; }
	.hmin-sm-500px { min-height: 500px; }
	.hmin-sm-550px { min-height: 550px; }
	.hmin-sm-600px { min-height: 600px; }
	.hmin-sm-650px { min-height: 650px; }
}

@media (min-width: 768px) {
	.w-md-50 { width: 50% !important; }
	.w-md-75 { width: 75% !important; }
	.w-md-auto { width: auto !important; }
	.w-md-fit { width: fit-content !important; }

	.border-md { 
		border-width: var(--bs-border-width); border-style: var(--bs-border-style);
		border-color: var(--bs-border-color);
	}

	.border-md-0 { border: 0 !important; }

	.rounded-md-3 { border-radius: var(--bs-border-radius-lg) !important; }

	.hmin-md-50px { min-height: 50px; }
	.hmin-md-100px { min-height: 100px; }
	.hmin-md-150px { min-height: 150px; }
	.hmin-md-200px { min-height: 200px; }
	.hmin-md-250px { min-height: 250px; }
	.hmin-md-300px { min-height: 300px; }
	.hmin-md-350px { min-height: 350px; }
	.hmin-md-400px { min-height: 400px; }
	.hmin-md-450px { min-height: 450px; }
	.hmin-md-500px { min-height: 500px; }
	.hmin-md-550px { min-height: 550px; }
	.hmin-md-600px { min-height: 600px; }
	.hmin-md-650px { min-height: 650px; }
}

@media (min-width: 992px) {
	.w-lg-50 { width: 50% !important; }
	.w-lg-75 { width: 75% !important; }
	.w-lg-auto { width: auto !important; }
	.w-lg-fit { width: fit-content !important; }

	.border-lg { 
		border-width: var(--bs-border-width); border-style: var(--bs-border-style);
		border-color: var(--bs-border-color);
		
		/* border-color-translucent: var(--bs-border-color-translucent); */
	}

	.border-lg-0 { border: 0 !important; }

	.rounded-lg-3 { border-radius: var(--bs-border-radius-lg) !important; }

	.hmin-lg-50px { min-height: 50px; }
	.hmin-lg-100px { min-height: 100px; }
	.hmin-lg-150px { min-height: 150px; }
	.hmin-lg-200px { min-height: 200px; }
	.hmin-lg-250px { min-height: 250px; }
	.hmin-lg-300px { min-height: 300px; }
	.hmin-lg-350px { min-height: 350px; }
	.hmin-lg-400px { min-height: 400px; }
	.hmin-lg-450px { min-height: 450px; }
	.hmin-lg-500px { min-height: 500px; }
	.hmin-lg-550px { min-height: 550px; }
	.hmin-lg-600px { min-height: 600px; }
	.hmin-lg-650px { min-height: 650px; }
}

@media (min-width: 1200px) {
	.w-xl-50 { width: 50% !important; }
	.w-xl-75 { width: 75% !important; }
	.w-xl-auto { width: auto !important; }
	.w-xl-fit { width: fit-content !important; }

	.border-xl { 
		border-width: var(--bs-border-width); border-style: var(--bs-border-style);
		border-color: var(--bs-border-color); 
		
		/* border-color-translucent: var(--bs-border-color-translucent); */
	}

	.border-xl-0 { border: 0 !important; }

	.rounded-xl-3 { border-radius: var(--bs-border-radius-lg) !important; }

	.hmin-xl-50px { min-height: 50px; }
	.hmin-xl-100px { min-height: 100px; }
	.hmin-xl-150px { min-height: 150px; }
	.hmin-xl-200px { min-height: 200px; }
	.hmin-xl-250px { min-height: 250px; }
	.hmin-xl-300px { min-height: 300px; }
	.hmin-xl-350px { min-height: 350px; }
	.hmin-xl-400px { min-height: 400px; }
	.hmin-xl-450px { min-height: 450px; }
	.hmin-xl-500px { min-height: 500px; }
	.hmin-xl-550px { min-height: 550px; }
	.hmin-xl-600px { min-height: 600px; }
	.hmin-xl-650px { min-height: 650px; }
}

@media (min-width: 1400px) {
	.w-xxl-50 { width: 50% !important; }
	.w-xxl-75 { width: 75% !important; }
	.w-xxl-auto { width: auto !important; }
	.w-xxl-fit { width: fit-content !important; }

	.border-xxl { 
		border-width: var(--bs-border-width); border-style: var(--bs-border-style);
		border-color: var(--bs-border-color); border-color-translucent: var(--bs-border-color-translucent);
	}

	.border-xxl-0 { border: 0 !important; }

	.rounded-xxl-3 { border-radius: var(--bs-border-radius-lg) !important; }

	.hmin-xxl-50px { min-height: 50px; }
	.hmin-xxl-100px { min-height: 100px; }
	.hmin-xxl-150px { min-height: 150px; }
	.hmin-xxl-200px { min-height: 200px; }
	.hmin-xxl-250px { min-height: 250px; }
	.hmin-xxl-300px { min-height: 300px; }
	.hmin-xxl-350px { min-height: 350px; }
	.hmin-xxl-400px { min-height: 400px; }
	.hmin-xxl-450px { min-height: 450px; }
	.hmin-xxl-500px { min-height: 500px; }
	.hmin-xxl-550px { min-height: 550px; }
	.hmin-xxl-600px { min-height: 600px; }
	.hmin-xxl-650px { min-height: 650px; }
}

/* half-container */

@media (min-width: 576px) { /* sm */
	.half-container-xs-start,
	.half-container-sm-start {
		margin-right: 0;
		padding: 0;
		max-width:calc((540 / 2) - var(--bs-gutter-x));
	}

	.half-container-xs-end,
	.half-container-sm-end {
		margin-left: 0;
		padding: 0;
		max-width:calc((540 / 2) - var(--bs-gutter-x));
	}
}

@media (min-width: 768px) { /* md */
	.half-container-xs-start,
	.half-container-sm-start,
	.half-container-md-start {
		margin-right: 0;
		padding: 0;
		max-width:calc((720px / 2) - var(--bs-gutter-x));
	}

	.half-container-xs-end,
	.half-container-sm-end,
	.half-container-md-end {
		margin-left: 0;
		padding: 0;
		max-width:calc((720px / 2) - var(--bs-gutter-x));
	}
}

@media (min-width: 992px) {
	.half-container-xs-start,
	.half-container-sm-start,
	.half-container-md-start,
	.half-container-lg-start {
		margin-right: 0;
		padding: 0;
		max-width:calc((960px / 2) - var(--bs-gutter-x));
	}

	.half-container-xs-end,
	.half-container-sm-end,
	.half-container-md-end,
	.half-container-lg-end {
		margin-left: 0;
		padding: 0;
		max-width:calc((960px / 2) - var(--bs-gutter-x));
	}
}

@media (min-width: 1200px) { /* xl */
	.half-container-xs-start,
	.half-container-sm-start,
	.half-container-md-start,
	.half-container-lg-start,
	.half-container-xl-start {
		margin-right: 0;
		padding: 0;
		max-width:calc((1140px / 2) - var(--bs-gutter-x));
	}

	.half-container-xs-end,
	.half-container-sm-end,
	.half-container-md-end,
	.half-container-lg-end,
	.half-container-xl-end {
		margin-left: 0;
		padding: 0;
		max-width:calc((1140px / 2) - var(--bs-gutter-x));
	}
	
}

@media (min-width: 1400px) {
	.half-container-xs-start,
	.half-container-sm-start,
	.half-container-md-start,
	.half-container-lg-start,
	.half-container-xl-start,
	.half-container-xxl-start {
		margin-right: 0;
		padding: 0;
		max-width:calc((1320px / 2) - var(--bs-gutter-x));
	}

	.half-container-xs-end,
	.half-container-sm-end,
	.half-container-md-end,
	.half-container-lg-end,
	.half-container-xl-end,
	.half-container-xxl-end {
		margin-left: 0;
		padding: 0;
		max-width:calc((1320px / 2) - var(--bs-gutter-x));
	}
	
}