<div></div>

<script>
	const controller = {};
	const design = fanstatic.design;
	const scope = 'block.identity-basic';

	return {
		onload: function(root, data) {
			let componentElement = root.children[0];

			componentElement.setAttribute('data-component', scope);
			componentElement.innerHTML = fanstatic.renderJhtm(design.wrap(
					design.unit({
						head: design.element('div', {'img': true}, {style:'display:none', data:{ role:'logo', scope:scope}}),
						body: design.element('div', true, {style:'display:none', data:{ role:'label', scope:scope}}),
					}
				)
			));

			controller.componentElement = componentElement;
			controller.logoElement = componentElement.querySelector('[data-role=logo]')
			controller.labelElement = componentElement.querySelector('[data-role=label]')

			if (data.logoSource) {
				controller.logoElement.querySelector('img').setAttribute('src', data.logoSource)
				controller.logoElement.style.display = 'block';
			}

			if (data.label) {
				controller.labelElement.innerHTML = data.label
				controller.labelElement.style.display = 'block';
			}
		},
		controller: controller
	}
</script>