[data-scope="section.header-simple"][data-role="container"] > [data-design="wrap"] { padding-top: var(--theme-padding); padding-bottom: var(--theme-padding); }
[data-scope="section.hero-top-simple"][data-role="container"] { min-height: 400px; }

/* default, xs, sm */
@media screen and (max-width: 767.98px) {
	[data-scope="section.header-simple"][data-design="unit"] > [data-design="unit-head"] {  display: flex; justify-content: center; margin-bottom: var(--theme-margin) }
	[data-scope="section.header-simple"][data-role="container"] > [data-design="wrap"] { padding-inline: var(--theme-margin) }

	[data-scope="section.hero-top-simple"]
}

/* md */
@media screen and (min-width: 768px) {
	[data-scope="section.header-simple"][data-design="unit"] { display: flex; }
	[data-scope="section.header-simple"][data-design="unit"] > [data-design="unit-body"] { flex: 1; }
}
