:root {
  --theme-zindex-dropdown: 1000;
  --theme-zindex-sticky: 1020;
  --theme-zindex-fixed: 1030;
  --theme-zindex-offcanvas-backdrop: 1040;
  --theme-zindex-offcanvas: 1045;
  --theme-zindex-modal-backdrop: 1050;
  --theme-zindex-modal: 1055;
  --theme-zindex-popover: 1070;
  --theme-zindex-tooltip: 1080;
  --theme-zindex-toast: 1090;
  --theme-cursor-on-hover: pointer;
}
.theme-w-full {
  width: 100%;
}
.theme-d-grid {
  display: grid;
}
.theme-d-flex,
.theme-d-flex-evenly {
  display: flex;
}
.theme-d-flex > .theme-flex-fill {
  flex: 1;
}
.theme-d-flex-evenly > * {
  flex: 1;
}
.theme-sticky-top {
  position: sticky;
  top: 0;
  z-index: var(--theme-zindex-sticky);
}
.theme-fixed-top {
  position: fixed;
  top: 0;
  z-index: var(--theme-zindex-fixed);
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #444;
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 0.7px;
}
/* variables */
:root {
  --theme-spacer: 1rem;
  --theme-gutter: 0.5rem;
  --theme-margin: 1rem;
  --theme-padding: 1rem;
  --theme-color-lighter: #F8FAFC;
  --theme-color-light: #D9EAFD;
  --theme-color-dark: #BCCCDC;
  --theme-color-darker: #9AA6B2;
  --theme-bg-color-body: var(--theme-color-lighter);
  --theme-bg-color-header: var(--theme-color-light);
  --theme-bg-color-on-hover: var(--bs-light);
}
/* BASE RULES */
/* { box-sizing: border-box; } */
body {
  background-color: var(--theme-bg-color-body);
}
header {
  background-color: var(--theme-bg-color-header);
}
figure {
  margin: 0;
}
img {
  display: block;
}
section {
  width: 100%;
  background-color: var(--theme-bg-color-section);
}
section:not(:last-child) {
  margin-bottom: var(--theme-margin);
}
/* LAYOUT RULES */
.theme-pi-0 {
  padding-inline: 0;
}
.theme-pi-1 {
  padding-inline: calc(0.25 * var(--theme-padding));
}
.theme-pi-2 {
  padding-inline: calc(0.5 * var(--theme-padding));
}
.theme-pi-3 {
  padding-inline: var(--theme-padding);
}
.theme-pi-4 {
  padding-inline: calc(2 * var(--theme-padding));
}
.theme-pi-5 {
  padding-inline: calc(2.5 * var(--theme-padding));
}
.theme-pb-0 {
  padding-block: 0;
}
.theme-pb-1 {
  padding-block: calc(0.25 * var(--theme-padding));
}
.theme-pb-2 {
  padding-block: calc(0.5 * var(--theme-padding));
}
.theme-pb-3 {
  padding-block: var(--theme-padding);
}
.theme-pb-4 {
  padding-block: calc(2 * var(--theme-padding));
}
.theme-pb-5 {
  padding-block: calc(2.5 * var(--theme-padding));
}
.theme-container {
  box-sizing: border-box;
  margin: 0 auto;
  max-width: 1000px;
  padding-inline: var(--theme-padding);
}
.theme-layout-3cols {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}
.theme-clear-float {
  clear: both;
}
/* THEME RULES */
.theme-container {
  background-color: var(--theme-bg-color-section-darker);
}
.theme-display-1 {
  font-size: 1.5rem;
}
.theme-display-2 {
  font-size: 2rem;
}
.theme-display-3 {
  font-size: 3rem;
}
[data-ds=unit] {
  background-color: var(--theme-bg-color-section-lighter);
}
/* block.identity-basic */
[data-ds-role=label][data-ds-scope="block.identity-basic"] {
  font-size: large;
}
.theme-hero-unit > [data-ds-sub=unit_head] {
  font-size: 3rem;
}
.theme-hero-unit > [data-ds-sub=unit_head]:not(:last-child) {
  margin-bottom: 1rem;
}
.theme-hero-unit > [data-ds-sub=unit_body] {
  font-size: 2rem;
}
.theme-hero-unit > [data-ds-sub=unit_body]:not(:last-child) {
  margin-bottom: 1rem;
}
.theme-hero-unit > [data-ds-sub=unit_foot] {
  font-size: 1.5rem;
}
.theme-sidekick-unit > [data-ds-sub=unit_head] {
  font-size: 2rem;
}
.theme-sidekick-unit > [data-ds-sub=unit_head]:not(:last-child) {
  margin-bottom: 1rem;
}
.theme-sidekick-unit > [data-ds-sub=unit_body] {
  font-size: 1.5rem;
}
.theme-sidekick-unit > [data-ds-sub=unit_body]:not(:last-child) {
  margin-bottom: 1rem;
}
.theme-left-capped {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}
.theme-left-capped > [data-ds-sub=unit_cap] {
  grid-column: 1;
  grid-row: 1 / span 3;
}
.theme-left-capped > [data-ds-sub=unit_cap] img {
  display: block;
}
.theme-right-capped {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}
.theme-right-capped > [data-ds-sub=unit_cap] {
  grid-column: 2;
  grid-row: 1 / span 3;
  grid-row: 1/4;
}
/* containerized hero */
.theme-container[data-ds-scope="section.containerized-hero"] > [data-ds=wrap] {
  padding-block: var(--theme-padding);
}
/* containerized stack */
.theme-container[data-ds-scope="section.containerized-stack"] > [data-ds=wrap] {
  padding-block: var(--theme-padding);
}
[data-ds-scope="section.containerized-stack"][data-ds=unit]:not(:last-child) {
  margin-bottom: var(--theme-margin);
}
[data-ds-scope="section.containerized-stack"][data-ds-role=section_title] {
  font-size: 2rem;
  text-align: center;
  margin-bottom: calc(1.5*var(--theme-margin));
}
[data-ds-scope="section.header-simple"][data-ds=unit] > [data-ds-sub=unit_head] {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: var(--theme-padding);
}
[data-ds-scope="section.header-simple"][data-ds-role=container] > [data-ds=wrap] {
  padding-block: var(--theme-margin);
}
[data-ds-scope="section.hero-top-simple"][data-ds-role=container] {
  min-height: 400px;
}
/* md */
@media screen and (min-width: 768px) {
  [data-ds-scope="section.header-simple"][data-ds=unit] {
    display: flex;
  }
  [data-ds-scope="section.header-simple"][data-ds=unit] > [data-ds-sub=unit_body] {
    flex: 1;
  }
}
/* containerized-unit */
[data-ds-scope="section.containerized-unit"][data-ds-role=container] > [data-ds=wrap] {
  padding-block: var(--theme-padding);
}
[data-ds-scope="section.containerized-unit"][data-ds=unit] > [data-ds-sub=unit_head] {
  padding-bottom: var(--theme-padding);
}
[data-ds-scope="section.containerized-unit"][data-ds=unit] > [data-ds-sub=unit_body] {
  padding-bottom: var(--theme-margin);
}
[data-ds-sub=unit_head] > [data-ds-scope="section.containerized-unit"][data-ds=axis] > * {
  font-size: 3em;
  font-weight: 900;
}
[data-ds-sub=unit_body] > [data-ds-scope="section.containerized-unit"][data-ds=axis] > * {
  font-size: 2em;
}
[data-ds-sub=unit_foot] > [data-ds-scope="section.containerized-unit"][data-ds=axis] > * {
  font-size: 1em;
}
/* containerized-units */
[data-ds-scope="section.containerized-units"][data-ds-role=container] > [data-ds=wrap] {
  padding-block: var(--theme-padding);
}
[data-ds-scope="section.containerized-units"][data-ds="unit"]:not(:last-child) {
  margin-bottom: var(--theme-margin);
}
[data-ds-scope="section.containerized-units"][data-ds="unit"] > [data-ds-sub=unit_head] {
  padding-bottom: var(--theme-padding);
}
[data-ds-scope="section.containerized-units"][data-ds="unit"] > [data-ds-sub=unit_body] {
  padding-bottom: var(--theme-margin);
}
[data-ds-sub=unit_head] > [data-ds-scope="section.containerized-units"][data-ds=axis] > * {
  font-size: 2em;
  font-weight: 600;
}
[data-ds-sub=unit_body] > [data-ds-scope="section.containerized-units"][data-ds=axis] > * {
  font-size: 1.5em;
}
[data-ds-sub=unit_foot] > [data-ds-scope="section.containerized-units"][data-ds=axis] > * {
  font-size: 1em;
}
/* navigation.simple */
[data-ds-panel="navigation.simple"] {
  height: 100%;
}
[data-ds-panel="navigation.simple"] [data-ds-scope="navigation.simple"][data-ds-role=menu_list] {
  display: flex;
  justify-content: center;
}
@media screen and (min-width: 768px) {
  [data-ds-panel="navigation.simple"] > [data-ds=wrap] {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  [data-ds-scope="navigation.simple"][data-ds-role=menu_list] {
    display: flex;
    justify-content: end;
  }
}
/* create breakpoint classes */
@media only screen and (min-width: 576px) {
  .theme-sm-d-flex {
    display: flex;
  }
}
@media only screen and (min-width: 576px) {
  .theme-sm-d-flex-evenly {
    display: flex;
  }
}
@media only screen and (min-width: 576px) {
  .theme-sm-d-flex-evenly > * {
    flex: 1;
  }
}
@media only screen and (min-width: 576px) {
  .theme-sm-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .theme-sm-left-capped > [data-ds-sub=unit_cap] {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .theme-sm-left-capped > [data-ds-sub=unit_cap] img {
    display: block;
  }
}
@media only screen and (min-width: 576px) {
  .theme-sm-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .theme-sm-right-capped > [data-ds-sub=unit_cap] {
    grid-column: 2;
    grid-row: 1 / span 3;
    grid-row: 1/4;
  }
}
@media only screen and (min-width: 768px) {
  .theme-md-d-flex {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .theme-md-d-flex-evenly {
    display: flex;
  }
}
@media only screen and (min-width: 768px) {
  .theme-md-d-flex-evenly > * {
    flex: 1;
  }
}
@media only screen and (min-width: 768px) {
  .theme-md-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .theme-md-left-capped > [data-ds-sub=unit_cap] {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .theme-md-left-capped > [data-ds-sub=unit_cap] img {
    display: block;
  }
}
@media only screen and (min-width: 768px) {
  .theme-md-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .theme-md-right-capped > [data-ds-sub=unit_cap] {
    grid-column: 2;
    grid-row: 1 / span 3;
    grid-row: 1/4;
  }
}
@media only screen and (min-width: 992px) {
  .theme-lg-d-flex {
    display: flex;
  }
}
@media only screen and (min-width: 992px) {
  .theme-lg-d-flex-evenly {
    display: flex;
  }
}
@media only screen and (min-width: 992px) {
  .theme-lg-d-flex-evenly > * {
    flex: 1;
  }
}
@media only screen and (min-width: 992px) {
  .theme-lg-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .theme-lg-left-capped > [data-ds-sub=unit_cap] {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .theme-lg-left-capped > [data-ds-sub=unit_cap] img {
    display: block;
  }
}
@media only screen and (min-width: 992px) {
  .theme-lg-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .theme-lg-right-capped > [data-ds-sub=unit_cap] {
    grid-column: 2;
    grid-row: 1 / span 3;
    grid-row: 1/4;
  }
}
@media only screen and (min-width: 1200px) {
  .theme-xl-d-flex {
    display: flex;
  }
}
@media only screen and (min-width: 1200px) {
  .theme-xl-d-flex-evenly {
    display: flex;
  }
}
@media only screen and (min-width: 1200px) {
  .theme-xl-d-flex-evenly > * {
    flex: 1;
  }
}
@media only screen and (min-width: 1200px) {
  .theme-xl-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .theme-xl-left-capped > [data-ds-sub=unit_cap] {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .theme-xl-left-capped > [data-ds-sub=unit_cap] img {
    display: block;
  }
}
@media only screen and (min-width: 1200px) {
  .theme-xl-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .theme-xl-right-capped > [data-ds-sub=unit_cap] {
    grid-column: 2;
    grid-row: 1 / span 3;
    grid-row: 1/4;
  }
}
@media only screen and (min-width: 1400px) {
  .theme-xxl-d-flex {
    display: flex;
  }
}
@media only screen and (min-width: 1400px) {
  .theme-xxl-d-flex-evenly {
    display: flex;
  }
}
@media only screen and (min-width: 1400px) {
  .theme-xxl-d-flex-evenly > * {
    flex: 1;
  }
}
@media only screen and (min-width: 1400px) {
  .theme-xxl-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .theme-xxl-left-capped > [data-ds-sub=unit_cap] {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .theme-xxl-left-capped > [data-ds-sub=unit_cap] img {
    display: block;
  }
}
@media only screen and (min-width: 1400px) {
  .theme-xxl-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .theme-xxl-right-capped > [data-ds-sub=unit_cap] {
    grid-column: 2;
    grid-row: 1 / span 3;
    grid-row: 1/4;
  }
}
/*# sourceMappingURL=theme.css.map */