@import url('https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css');

/* variables */

:root {
	--theme-spacing: 1em;
	--theme-margin: 1em;
	--theme-padding: 1em;

	--theme-bg-color-primary: rgb(186, 220, 255);
}

/* element */

section { width: 100%; }

/* class */

.fnst-container {
	margin: 0 auto;
	max-width: 1000px;
}



/* design */
