@import url('https://cdn.jsdelivr.net/npm/purecss@3.0.0/build/pure-min.css');

/* variables */

:root {
	--theme-spacer: 1rem;
	--theme-gutter: .5rem;
	--theme-margin: 1rem;
	--theme-padding: 1rem;

	--theme-color-lighter: #F8FAFC;
	--theme-color-light: #D9EAFD;
	--theme-color-dark: #BCCCDC;
	--theme-color-darker: #9AA6B2;

	--theme-bg-color-body: var(--theme-color-lighter);
	--theme-bg-color-header: var(--theme-color-light);

	--theme-bg-color-on-hover: var(--bs-light);
}

/* BASE RULES */

/* { box-sizing: border-box; } */

body {
	background-color: var(--theme-bg-color-body);
}

header {
	background-color: var(--theme-bg-color-header);
}

figure {
	margin: 0;
}

img {
	display: block;
}

section { 
	width: 100%; 
	background-color: var(--theme-bg-color-section);
}

section:not(:last-child) { 
	margin-bottom: var(--theme-margin);
}

/* LAYOUT RULES */

.theme-pi-0 { padding-inline: 0; }
.theme-pi-1 { padding-inline: calc(.25 * var(--theme-padding)); }
.theme-pi-2 { padding-inline: calc(.5 * var(--theme-padding)); }
.theme-pi-3 { padding-inline: var(--theme-padding); }
.theme-pi-4 { padding-inline: calc(2 * var(--theme-padding)); }
.theme-pi-5 { padding-inline: calc(2.5 * var(--theme-padding)); }

.theme-pb-0 { padding-block: 0; }
.theme-pb-1 { padding-block: calc(.25 * var(--theme-padding)); }
.theme-pb-2 { padding-block: calc(.5 * var(--theme-padding)); }
.theme-pb-3 { padding-block: var(--theme-padding); }
.theme-pb-4 { padding-block: calc(2 * var(--theme-padding)); }
.theme-pb-5 { padding-block: calc(2.5 * var(--theme-padding)); }

.theme-container {
	box-sizing: border-box;
	margin: 0 auto;
	max-width: 1000px;
	padding-inline: var(--theme-padding);
}

.theme-layout-3cols {
	display: grid;
	grid-template-columns: 1fr 3fr 1fr;
}

.theme-clear-float {
	clear: both;
}

.theme-left-capped {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr auto;

	> [data-design="unit-cap"] {
		grid-column: 1;
		grid-row: 1/span 3;

		img {
			display: block;
		}
	}
}

.theme-right-capped {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr auto;

	> [data-design="unit-cap"] {
		grid-column: 2;
		grid-row: 1/span 3;
		grid-row: 1/4;
	}
}



/* THEME RULES */

.theme-container {
	background-color: var(--theme-bg-color-section-darker);
}

.theme-display-1 { font-size: 1.5rem; }
.theme-display-2 { font-size: 2rem; }
.theme-display-3 { font-size: 3rem; }

[data-design="unit"] {
	background-color: var(--theme-bg-color-section-lighter);
}