<nav data-component="navigation.simple"></nav>

<script>
	const controller = {};
	const design = fanstatic.design;

	return {
		controller: controller,
		onload: function(roof, data) {
			const component = roof.children[0];

			component.innerHTML = fanstatic.renderJhtm(design.wrapper({
				items: [
					design.axis({
						items: data.menus.map(menu => design.unit({ body: menu.label }, { 'data-scope': 'navigation.simple' })),
					}, { 'data-scope': 'navigation.simple' })
				]
			}))
		},	
	}
</script>