:root {
  --util-space-gutter: 1;
  --util-space-margin: 1;
  --util-space-padding: 1;
  --util-spacer: 1;
  --util-gutter: 1rem;
  --util-margin: 1rem;
  --util-padding: 1rem;
  --util-zindex-dropdown: 1000;
  --util-zindex-sticky: 1020;
  --util-zindex-fixed: 1030;
  --util-zindex-offcanvas-backdrop: 1040;
  --util-zindex-offcanvas: 1045;
  --util-zindex-modal-backdrop: 1050;
  --util-zindex-modal: 1055;
  --util-zindex-popover: 1070;
  --util-zindex-tooltip: 1080;
  --util-zindex-toast: 1090;
}
.util-w-full {
  width: 100%;
}
.util-d-table {
  display: table;
}
.util-d-table-row {
  display: table-row;
}
.util-d-table-row-group {
  display: table-row-group;
}
.util-d-table-cell {
  display: table-cell;
}
.util-d-table-header {
  display: table-header;
}
.util-d-table-header-group {
  display: table-header-group;
}
.util-d-table-footer {
  display: table-footer;
}
.util-d-table-footer-group {
  display: table-footer-group;
}
.util-d-none {
  display: none;
}
.util-d-block {
  display: block;
}
.util-d-grid {
  display: grid;
}
.util-d-flex,
.util-d-flex-evenly {
  display: flex;
}
.util-d-flex-evenly > * {
  flex: 1;
}
.util-pt {
  padding-top: calc(var(--util-spacer) * var(--util-padding));
}
.util-pr {
  padding-right: calc(var(--util-spacer) * var(--util-padding));
}
.util-pb {
  padding-bottom: calc(var(--util-spacer) * var(--util-padding));
}
.util-pl {
  padding-left: calc(var(--util-spacer) * var(--util-padding));
}
.util-pblock {
  padding-block: calc(var(--util-spacer) * var(--util-padding));
}
.util-pinline {
  margin-inline: calc(var(--util-spacer) * var(--util-padding));
}
.util-mt {
  margin-top: calc(var(--util-spacer) * var(--util-margin));
}
.util-mr {
  margin-right: calc(var(--util-spacer) * var(--util-margin));
}
.util-mb {
  margin-bottom: calc(var(--util-spacer) * var(--util-margin));
}
.util-ml {
  margin-left: calc(var(--util-spacer) * var(--util-margin));
}
.util-mblock {
  margin-block: calc(var(--util-spacer) * var(--util-margin));
}
.util-minline {
  margin-inline: calc(var(--util-spacer) * var(--util-margin));
}
.util-text-start {
  text-align: start;
}
.util-text-center {
  text-align: center;
}
.util-text-end {
  text-align: end;
}
.util-jc-start {
  justify-content: flex-start;
}
.util-jc-center {
  justify-content: center;
}
.util-jc-end {
  justify-content: flex-end;
}
.util-jc-between {
  justify-content: space-between;
}
.util-jc-around {
  justify-content: space-around;
}
.util-fwrap-wrap {
  flex-wrap: wrap;
}
.util-sticky-top {
  position: sticky;
  top: 0;
  z-index: var(--util-zindex-sticky);
}
.util-sticky-bottom {
  position: sticky;
  top: 0;
  z-index: var(--util-zindex-sticky);
}
.util-fixed-top {
  position: fixed;
  top: 0;
  z-index: var(--util-zindex-fixed);
}
.util-fixed-bottom {
  position: fixed;
  top: 0;
  z-index: var(--util-zindex-fixed);
}
.util-fs-0rem25 {
  font-size: 0.25rem;
}
.util-fs-0rem50 {
  font-size: 0.5rem;
}
.util-fs-0rem75 {
  font-size: 0.75rem;
}
.util-fs-1rem {
  font-size: 1rem;
}
.util-fs-1rem25 {
  font-size: 1.25rem;
}
.util-fs-1rem50 {
  font-size: 1.5rem;
}
.util-fs-1rem75 {
  font-size: 1.75rem;
}
.util-fs-2rem {
  font-size: 2rem;
}
.util-fs-2rem50 {
  font-size: 2.5rem;
}
.util-fs-3rem {
  font-size: 3rem;
}
.util-fs-3rem50 {
  font-size: 3.5rem;
}
.util-fs-4rem {
  font-size: 4rem;
}
.util-fs-5rem {
  font-size: 5rem;
}
.util-fs-6rem {
  font-size: 6rem;
}
.util-fs-0em25 {
  font-size: 0.25em;
}
.util-fs-0em50 {
  font-size: 0.5em;
}
.util-fs-0em75 {
  font-size: 0.75em;
}
.util-fs-1em {
  font-size: 1em;
}
.util-fs-1em25 {
  font-size: 1.25em;
}
.util-fs-1em50 {
  font-size: 1.5em;
}
.util-fs-1em75 {
  font-size: 1.75em;
}
.util-fs-2em {
  font-size: 2rem;
}
.util-fs-2em50 {
  font-size: 2.5em;
}
.util-fs-3em {
  font-size: 3rem;
}
.util-fs-3em50 {
  font-size: 3.5em;
}
.util-fs-4em {
  font-size: 4rem;
}
.util-fs-5em {
  font-size: 5rem;
}
.util-fs-6em {
  font-size: 6rem;
}
/* colors */
/*
.util-link-on-dark-2 { color: var(--util-color-on-dark-2); }
.util-link-on-dark-2:hover { color: var(--util-color-on-dark-1); }
.util-link-on-dark-2:visited { color: var(--util-color-on-dark-4); }

.util-link-on-dark-4 { color: var(--util-color-on-dark-4); }
.util-link-on-dark-2:hover { color: var(--util-color-on-dark-3); }
.util-link-on-dark-2:visited { color: var(--util-color-on-dark-5); }

.util-link-on-dark-6 { color: var(--util-color-on-dark-6); }
.util-link-on-dark-6:hover { color: var(--util-color-on-dark-5); }
.util-link-on-dark-6:visited { color: var(--util-color-on-dark-7); }
*/
/* Unit */
.util-unit > figure > img {
  display: block;
}
.util-unit-left-capped {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}
.util-unit-left-capped > * {
  grid-column: 2;
}
.util-unit-left-capped > figure {
  grid-column: 1;
  grid-row: 1 / span 3;
}
.util-unit-right-capped {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
}
.util-unit-right-capped > * {
  grid-column: 1;
}
.util-unit-right-capped > figure {
  grid-column: 2;
  grid-row: 1 / span 3;
}
@media only screen and (max-width: calc(360px - 0.02px)) {
  .util-w-lxs-full {
    width: 100%;
  }
  .util-d-lxs-none {
    display: none;
  }
  .util-d-lxs-block {
    display: block;
  }
  .util-d-lxs-flex {
    display: flex;
  }
  .util-d-lxs-flex-evenly {
    display: flex;
  }
  .util-d-lxs-flex-evenly > * {
    flex: 1;
  }
  .util-d-lxs-grid {
    display: grid;
  }
  .util-d-lxs-table {
    display: table;
  }
  .util-d-lxs-table-row {
    display: table-row;
  }
  .util-d-lxs-table-cell {
    display: table-cell;
  }
  .util-d-lxs-table-header {
    display: table-header;
  }
  .util-d-lxs-table-footer {
    display: table-footer;
  }
  .util-d-lxs-table-row-group {
    display: table-row-group;
  }
  .util-d-lxs-table-header-group {
    display: table-header-group;
  }
  .util-d-lxs-table-footer-group {
    display: table-footer-group;
  }
  .util-sticky-lxs-top {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-sticky-lxs-bottom {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-fixed-lxs-top {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-fixed-lxs-bottom {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-text-lxs-start {
    text-align: start;
  }
  .util-text-lxs-center {
    text-align: center;
  }
  .util-text-lxs-end {
    text-align: end;
  }
  .util-jc-lxs-start {
    justify-content: flex-start;
  }
  .util-jc-lxs-center {
    justify-content: center;
  }
  .util-jc-lxs-end {
    justify-content: flex-end;
  }
  .util-jc-lxs-between {
    justify-content: space-between;
  }
  .util-jc-lxs-around {
    justify-content: space-around;
  }
  .util-fwrap-lxs-wrap {
    flex-wrap: wrap;
  }
  .util-pt-lxs {
    padding-top: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pr-lxs {
    padding-right: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pb-lxs {
    padding-bottom: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pl-lxs {
    padding-left: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pblock-lxs {
    padding-block: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pinline-lxs {
    margin-inline: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-mt-lxs {
    margin-top: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mr-lxs {
    margin-right: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mb-lxs {
    margin-bottom: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-ml-lxs {
    margin-left: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mblock-lxs {
    margin-block: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-minline-lxs {
    margin-inline: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-unit-lxs-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-lxs-left-capped > * {
    grid-column: 2;
  }
  .util-unit-lxs-left-capped > figure {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .util-unit-lxs-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-lxs-right-capped > * {
    grid-column: 1;
  }
  .util-unit-lxs-right-capped > figure {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
@media only screen and (max-width: calc(576px - 0.02px)) {
  .util-w-lsm-full {
    width: 100%;
  }
  .util-d-lsm-none {
    display: none;
  }
  .util-d-lsm-block {
    display: block;
  }
  .util-d-lsm-flex {
    display: flex;
  }
  .util-d-lsm-flex-evenly {
    display: flex;
  }
  .util-d-lsm-flex-evenly > * {
    flex: 1;
  }
  .util-d-lsm-grid {
    display: grid;
  }
  .util-d-lsm-table {
    display: table;
  }
  .util-d-lsm-table-row {
    display: table-row;
  }
  .util-d-lsm-table-cell {
    display: table-cell;
  }
  .util-d-lsm-table-header {
    display: table-header;
  }
  .util-d-lsm-table-footer {
    display: table-footer;
  }
  .util-d-lsm-table-row-group {
    display: table-row-group;
  }
  .util-d-lsm-table-header-group {
    display: table-header-group;
  }
  .util-d-lsm-table-footer-group {
    display: table-footer-group;
  }
  .util-sticky-lsm-top {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-sticky-lsm-bottom {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-fixed-lsm-top {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-fixed-lsm-bottom {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-text-lsm-start {
    text-align: start;
  }
  .util-text-lsm-center {
    text-align: center;
  }
  .util-text-lsm-end {
    text-align: end;
  }
  .util-jc-lsm-start {
    justify-content: flex-start;
  }
  .util-jc-lsm-center {
    justify-content: center;
  }
  .util-jc-lsm-end {
    justify-content: flex-end;
  }
  .util-jc-lsm-between {
    justify-content: space-between;
  }
  .util-jc-lsm-around {
    justify-content: space-around;
  }
  .util-fwrap-lsm-wrap {
    flex-wrap: wrap;
  }
  .util-pt-lsm {
    padding-top: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pr-lsm {
    padding-right: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pb-lsm {
    padding-bottom: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pl-lsm {
    padding-left: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pblock-lsm {
    padding-block: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pinline-lsm {
    margin-inline: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-mt-lsm {
    margin-top: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mr-lsm {
    margin-right: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mb-lsm {
    margin-bottom: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-ml-lsm {
    margin-left: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mblock-lsm {
    margin-block: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-minline-lsm {
    margin-inline: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-unit-lsm-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-lsm-left-capped > * {
    grid-column: 2;
  }
  .util-unit-lsm-left-capped > figure {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .util-unit-lsm-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-lsm-right-capped > * {
    grid-column: 1;
  }
  .util-unit-lsm-right-capped > figure {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
@media only screen and (max-width: calc(768px - 0.02px)) {
  .util-w-lmd-full {
    width: 100%;
  }
  .util-d-lmd-none {
    display: none;
  }
  .util-d-lmd-block {
    display: block;
  }
  .util-d-lmd-flex {
    display: flex;
  }
  .util-d-lmd-flex-evenly {
    display: flex;
  }
  .util-d-lmd-flex-evenly > * {
    flex: 1;
  }
  .util-d-lmd-grid {
    display: grid;
  }
  .util-d-lmd-table {
    display: table;
  }
  .util-d-lmd-table-row {
    display: table-row;
  }
  .util-d-lmd-table-cell {
    display: table-cell;
  }
  .util-d-lmd-table-header {
    display: table-header;
  }
  .util-d-lmd-table-footer {
    display: table-footer;
  }
  .util-d-lmd-table-row-group {
    display: table-row-group;
  }
  .util-d-lmd-table-header-group {
    display: table-header-group;
  }
  .util-d-lmd-table-footer-group {
    display: table-footer-group;
  }
  .util-sticky-lmd-top {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-sticky-lmd-bottom {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-fixed-lmd-top {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-fixed-lmd-bottom {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-text-lmd-start {
    text-align: start;
  }
  .util-text-lmd-center {
    text-align: center;
  }
  .util-text-lmd-end {
    text-align: end;
  }
  .util-jc-lmd-start {
    justify-content: flex-start;
  }
  .util-jc-lmd-center {
    justify-content: center;
  }
  .util-jc-lmd-end {
    justify-content: flex-end;
  }
  .util-jc-lmd-between {
    justify-content: space-between;
  }
  .util-jc-lmd-around {
    justify-content: space-around;
  }
  .util-fwrap-lmd-wrap {
    flex-wrap: wrap;
  }
  .util-pt-lmd {
    padding-top: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pr-lmd {
    padding-right: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pb-lmd {
    padding-bottom: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pl-lmd {
    padding-left: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pblock-lmd {
    padding-block: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pinline-lmd {
    margin-inline: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-mt-lmd {
    margin-top: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mr-lmd {
    margin-right: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mb-lmd {
    margin-bottom: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-ml-lmd {
    margin-left: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mblock-lmd {
    margin-block: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-minline-lmd {
    margin-inline: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-unit-lmd-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-lmd-left-capped > * {
    grid-column: 2;
  }
  .util-unit-lmd-left-capped > figure {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .util-unit-lmd-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-lmd-right-capped > * {
    grid-column: 1;
  }
  .util-unit-lmd-right-capped > figure {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
@media only screen and (max-width: calc(1024px - 0.02px)) {
  .util-w-llg-full {
    width: 100%;
  }
  .util-d-llg-none {
    display: none;
  }
  .util-d-llg-block {
    display: block;
  }
  .util-d-llg-flex {
    display: flex;
  }
  .util-d-llg-flex-evenly {
    display: flex;
  }
  .util-d-llg-flex-evenly > * {
    flex: 1;
  }
  .util-d-llg-grid {
    display: grid;
  }
  .util-d-llg-table {
    display: table;
  }
  .util-d-llg-table-row {
    display: table-row;
  }
  .util-d-llg-table-cell {
    display: table-cell;
  }
  .util-d-llg-table-header {
    display: table-header;
  }
  .util-d-llg-table-footer {
    display: table-footer;
  }
  .util-d-llg-table-row-group {
    display: table-row-group;
  }
  .util-d-llg-table-header-group {
    display: table-header-group;
  }
  .util-d-llg-table-footer-group {
    display: table-footer-group;
  }
  .util-sticky-llg-top {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-sticky-llg-bottom {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-fixed-llg-top {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-fixed-llg-bottom {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-text-llg-start {
    text-align: start;
  }
  .util-text-llg-center {
    text-align: center;
  }
  .util-text-llg-end {
    text-align: end;
  }
  .util-jc-llg-start {
    justify-content: flex-start;
  }
  .util-jc-llg-center {
    justify-content: center;
  }
  .util-jc-llg-end {
    justify-content: flex-end;
  }
  .util-jc-llg-between {
    justify-content: space-between;
  }
  .util-jc-llg-around {
    justify-content: space-around;
  }
  .util-fwrap-llg-wrap {
    flex-wrap: wrap;
  }
  .util-pt-llg {
    padding-top: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pr-llg {
    padding-right: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pb-llg {
    padding-bottom: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pl-llg {
    padding-left: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pblock-llg {
    padding-block: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pinline-llg {
    margin-inline: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-mt-llg {
    margin-top: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mr-llg {
    margin-right: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mb-llg {
    margin-bottom: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-ml-llg {
    margin-left: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mblock-llg {
    margin-block: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-minline-llg {
    margin-inline: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-unit-llg-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-llg-left-capped > * {
    grid-column: 2;
  }
  .util-unit-llg-left-capped > figure {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .util-unit-llg-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-llg-right-capped > * {
    grid-column: 1;
  }
  .util-unit-llg-right-capped > figure {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
@media only screen and (max-width: calc(1200px - 0.02px)) {
  .util-w-lxl-full {
    width: 100%;
  }
  .util-d-lxl-none {
    display: none;
  }
  .util-d-lxl-block {
    display: block;
  }
  .util-d-lxl-flex {
    display: flex;
  }
  .util-d-lxl-flex-evenly {
    display: flex;
  }
  .util-d-lxl-flex-evenly > * {
    flex: 1;
  }
  .util-d-lxl-grid {
    display: grid;
  }
  .util-d-lxl-table {
    display: table;
  }
  .util-d-lxl-table-row {
    display: table-row;
  }
  .util-d-lxl-table-cell {
    display: table-cell;
  }
  .util-d-lxl-table-header {
    display: table-header;
  }
  .util-d-lxl-table-footer {
    display: table-footer;
  }
  .util-d-lxl-table-row-group {
    display: table-row-group;
  }
  .util-d-lxl-table-header-group {
    display: table-header-group;
  }
  .util-d-lxl-table-footer-group {
    display: table-footer-group;
  }
  .util-sticky-lxl-top {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-sticky-lxl-bottom {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-fixed-lxl-top {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-fixed-lxl-bottom {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-text-lxl-start {
    text-align: start;
  }
  .util-text-lxl-center {
    text-align: center;
  }
  .util-text-lxl-end {
    text-align: end;
  }
  .util-jc-lxl-start {
    justify-content: flex-start;
  }
  .util-jc-lxl-center {
    justify-content: center;
  }
  .util-jc-lxl-end {
    justify-content: flex-end;
  }
  .util-jc-lxl-between {
    justify-content: space-between;
  }
  .util-jc-lxl-around {
    justify-content: space-around;
  }
  .util-fwrap-lxl-wrap {
    flex-wrap: wrap;
  }
  .util-pt-lxl {
    padding-top: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pr-lxl {
    padding-right: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pb-lxl {
    padding-bottom: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pl-lxl {
    padding-left: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pblock-lxl {
    padding-block: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pinline-lxl {
    margin-inline: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-mt-lxl {
    margin-top: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mr-lxl {
    margin-right: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mb-lxl {
    margin-bottom: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-ml-lxl {
    margin-left: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mblock-lxl {
    margin-block: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-minline-lxl {
    margin-inline: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-unit-lxl-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-lxl-left-capped > * {
    grid-column: 2;
  }
  .util-unit-lxl-left-capped > figure {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .util-unit-lxl-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-lxl-right-capped > * {
    grid-column: 1;
  }
  .util-unit-lxl-right-capped > figure {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
@media only screen and (max-width: calc(1400px - 0.02px)) {
  .util-w-lxxl-full {
    width: 100%;
  }
  .util-d-lxxl-none {
    display: none;
  }
  .util-d-lxxl-block {
    display: block;
  }
  .util-d-lxxl-flex {
    display: flex;
  }
  .util-d-lxxl-flex-evenly {
    display: flex;
  }
  .util-d-lxxl-flex-evenly > * {
    flex: 1;
  }
  .util-d-lxxl-grid {
    display: grid;
  }
  .util-d-lxxl-table {
    display: table;
  }
  .util-d-lxxl-table-row {
    display: table-row;
  }
  .util-d-lxxl-table-cell {
    display: table-cell;
  }
  .util-d-lxxl-table-header {
    display: table-header;
  }
  .util-d-lxxl-table-footer {
    display: table-footer;
  }
  .util-d-lxxl-table-row-group {
    display: table-row-group;
  }
  .util-d-lxxl-table-header-group {
    display: table-header-group;
  }
  .util-d-lxxl-table-footer-group {
    display: table-footer-group;
  }
  .util-sticky-lxxl-top {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-sticky-lxxl-bottom {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-fixed-lxxl-top {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-fixed-lxxl-bottom {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-text-lxxl-start {
    text-align: start;
  }
  .util-text-lxxl-center {
    text-align: center;
  }
  .util-text-lxxl-end {
    text-align: end;
  }
  .util-jc-lxxl-start {
    justify-content: flex-start;
  }
  .util-jc-lxxl-center {
    justify-content: center;
  }
  .util-jc-lxxl-end {
    justify-content: flex-end;
  }
  .util-jc-lxxl-between {
    justify-content: space-between;
  }
  .util-jc-lxxl-around {
    justify-content: space-around;
  }
  .util-fwrap-lxxl-wrap {
    flex-wrap: wrap;
  }
  .util-pt-lxxl {
    padding-top: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pr-lxxl {
    padding-right: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pb-lxxl {
    padding-bottom: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pl-lxxl {
    padding-left: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pblock-lxxl {
    padding-block: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pinline-lxxl {
    margin-inline: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-mt-lxxl {
    margin-top: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mr-lxxl {
    margin-right: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mb-lxxl {
    margin-bottom: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-ml-lxxl {
    margin-left: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mblock-lxxl {
    margin-block: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-minline-lxxl {
    margin-inline: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-unit-lxxl-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-lxxl-left-capped > * {
    grid-column: 2;
  }
  .util-unit-lxxl-left-capped > figure {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .util-unit-lxxl-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-lxxl-right-capped > * {
    grid-column: 1;
  }
  .util-unit-lxxl-right-capped > figure {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
@media only screen and (min-width: 360px) {
  .util-w-xs-full {
    width: 100%;
  }
  .util-d-xs-none {
    display: none;
  }
  .util-d-xs-block {
    display: block;
  }
  .util-d-xs-flex {
    display: flex;
  }
  .util-d-xs-flex-evenly {
    display: flex;
  }
  .util-d-xs-flex-evenly > * {
    flex: 1;
  }
  .util-d-xs-grid {
    display: grid;
  }
  .util-d-xs-table {
    display: table;
  }
  .util-d-xs-table-row {
    display: table-row;
  }
  .util-d-xs-table-cell {
    display: table-cell;
  }
  .util-d-xs-table-header {
    display: table-header;
  }
  .util-d-xs-table-footer {
    display: table-footer;
  }
  .util-d-xs-table-row-group {
    display: table-row-group;
  }
  .util-d-xs-table-header-group {
    display: table-header-group;
  }
  .util-d-xs-table-footer-group {
    display: table-footer-group;
  }
  .util-sticky-xs-top {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-sticky-xs-bottom {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-fixed-xs-top {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-fixed-xs-bottom {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-text-xs-start {
    text-align: start;
  }
  .util-text-xs-center {
    text-align: center;
  }
  .util-text-xs-end {
    text-align: end;
  }
  .util-jc-xs-start {
    justify-content: flex-start;
  }
  .util-jc-xs-center {
    justify-content: center;
  }
  .util-jc-xs-end {
    justify-content: flex-end;
  }
  .util-jc-xs-between {
    justify-content: space-between;
  }
  .util-jc-xs-around {
    justify-content: space-around;
  }
  .util-fwrap-xs-wrap {
    flex-wrap: wrap;
  }
  .util-pt-xs {
    padding-top: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pr-xs {
    padding-right: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pb-xs {
    padding-bottom: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pl-xs {
    padding-left: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pblock-xs {
    padding-block: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pinline-xs {
    margin-inline: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-mt-xs {
    margin-top: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mr-xs {
    margin-right: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mb-xs {
    margin-bottom: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-ml-xs {
    margin-left: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mblock-xs {
    margin-block: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-minline-xs {
    margin-inline: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-unit-xs-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-xs-left-capped > * {
    grid-column: 2;
  }
  .util-unit-xs-left-capped > figure {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .util-unit-xs-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-xs-right-capped > * {
    grid-column: 1;
  }
  .util-unit-xs-right-capped > figure {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
@media only screen and (min-width: 576px) {
  .util-w-sm-full {
    width: 100%;
  }
  .util-d-sm-none {
    display: none;
  }
  .util-d-sm-block {
    display: block;
  }
  .util-d-sm-flex {
    display: flex;
  }
  .util-d-sm-flex-evenly {
    display: flex;
  }
  .util-d-sm-flex-evenly > * {
    flex: 1;
  }
  .util-d-sm-grid {
    display: grid;
  }
  .util-d-sm-table {
    display: table;
  }
  .util-d-sm-table-row {
    display: table-row;
  }
  .util-d-sm-table-cell {
    display: table-cell;
  }
  .util-d-sm-table-header {
    display: table-header;
  }
  .util-d-sm-table-footer {
    display: table-footer;
  }
  .util-d-sm-table-row-group {
    display: table-row-group;
  }
  .util-d-sm-table-header-group {
    display: table-header-group;
  }
  .util-d-sm-table-footer-group {
    display: table-footer-group;
  }
  .util-sticky-sm-top {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-sticky-sm-bottom {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-fixed-sm-top {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-fixed-sm-bottom {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-text-sm-start {
    text-align: start;
  }
  .util-text-sm-center {
    text-align: center;
  }
  .util-text-sm-end {
    text-align: end;
  }
  .util-jc-sm-start {
    justify-content: flex-start;
  }
  .util-jc-sm-center {
    justify-content: center;
  }
  .util-jc-sm-end {
    justify-content: flex-end;
  }
  .util-jc-sm-between {
    justify-content: space-between;
  }
  .util-jc-sm-around {
    justify-content: space-around;
  }
  .util-fwrap-sm-wrap {
    flex-wrap: wrap;
  }
  .util-pt-sm {
    padding-top: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pr-sm {
    padding-right: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pb-sm {
    padding-bottom: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pl-sm {
    padding-left: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pblock-sm {
    padding-block: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pinline-sm {
    margin-inline: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-mt-sm {
    margin-top: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mr-sm {
    margin-right: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mb-sm {
    margin-bottom: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-ml-sm {
    margin-left: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mblock-sm {
    margin-block: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-minline-sm {
    margin-inline: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-unit-sm-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-sm-left-capped > * {
    grid-column: 2;
  }
  .util-unit-sm-left-capped > figure {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .util-unit-sm-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-sm-right-capped > * {
    grid-column: 1;
  }
  .util-unit-sm-right-capped > figure {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
@media only screen and (min-width: 768px) {
  .util-w-md-full {
    width: 100%;
  }
  .util-d-md-none {
    display: none;
  }
  .util-d-md-block {
    display: block;
  }
  .util-d-md-flex {
    display: flex;
  }
  .util-d-md-flex-evenly {
    display: flex;
  }
  .util-d-md-flex-evenly > * {
    flex: 1;
  }
  .util-d-md-grid {
    display: grid;
  }
  .util-d-md-table {
    display: table;
  }
  .util-d-md-table-row {
    display: table-row;
  }
  .util-d-md-table-cell {
    display: table-cell;
  }
  .util-d-md-table-header {
    display: table-header;
  }
  .util-d-md-table-footer {
    display: table-footer;
  }
  .util-d-md-table-row-group {
    display: table-row-group;
  }
  .util-d-md-table-header-group {
    display: table-header-group;
  }
  .util-d-md-table-footer-group {
    display: table-footer-group;
  }
  .util-sticky-md-top {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-sticky-md-bottom {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-fixed-md-top {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-fixed-md-bottom {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-text-md-start {
    text-align: start;
  }
  .util-text-md-center {
    text-align: center;
  }
  .util-text-md-end {
    text-align: end;
  }
  .util-jc-md-start {
    justify-content: flex-start;
  }
  .util-jc-md-center {
    justify-content: center;
  }
  .util-jc-md-end {
    justify-content: flex-end;
  }
  .util-jc-md-between {
    justify-content: space-between;
  }
  .util-jc-md-around {
    justify-content: space-around;
  }
  .util-fwrap-md-wrap {
    flex-wrap: wrap;
  }
  .util-pt-md {
    padding-top: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pr-md {
    padding-right: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pb-md {
    padding-bottom: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pl-md {
    padding-left: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pblock-md {
    padding-block: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pinline-md {
    margin-inline: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-mt-md {
    margin-top: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mr-md {
    margin-right: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mb-md {
    margin-bottom: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-ml-md {
    margin-left: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mblock-md {
    margin-block: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-minline-md {
    margin-inline: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-unit-md-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-md-left-capped > * {
    grid-column: 2;
  }
  .util-unit-md-left-capped > figure {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .util-unit-md-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-md-right-capped > * {
    grid-column: 1;
  }
  .util-unit-md-right-capped > figure {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
@media only screen and (min-width: 1024px) {
  .util-w-lg-full {
    width: 100%;
  }
  .util-d-lg-none {
    display: none;
  }
  .util-d-lg-block {
    display: block;
  }
  .util-d-lg-flex {
    display: flex;
  }
  .util-d-lg-flex-evenly {
    display: flex;
  }
  .util-d-lg-flex-evenly > * {
    flex: 1;
  }
  .util-d-lg-grid {
    display: grid;
  }
  .util-d-lg-table {
    display: table;
  }
  .util-d-lg-table-row {
    display: table-row;
  }
  .util-d-lg-table-cell {
    display: table-cell;
  }
  .util-d-lg-table-header {
    display: table-header;
  }
  .util-d-lg-table-footer {
    display: table-footer;
  }
  .util-d-lg-table-row-group {
    display: table-row-group;
  }
  .util-d-lg-table-header-group {
    display: table-header-group;
  }
  .util-d-lg-table-footer-group {
    display: table-footer-group;
  }
  .util-sticky-lg-top {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-sticky-lg-bottom {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-fixed-lg-top {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-fixed-lg-bottom {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-text-lg-start {
    text-align: start;
  }
  .util-text-lg-center {
    text-align: center;
  }
  .util-text-lg-end {
    text-align: end;
  }
  .util-jc-lg-start {
    justify-content: flex-start;
  }
  .util-jc-lg-center {
    justify-content: center;
  }
  .util-jc-lg-end {
    justify-content: flex-end;
  }
  .util-jc-lg-between {
    justify-content: space-between;
  }
  .util-jc-lg-around {
    justify-content: space-around;
  }
  .util-fwrap-lg-wrap {
    flex-wrap: wrap;
  }
  .util-pt-lg {
    padding-top: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pr-lg {
    padding-right: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pb-lg {
    padding-bottom: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pl-lg {
    padding-left: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pblock-lg {
    padding-block: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pinline-lg {
    margin-inline: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-mt-lg {
    margin-top: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mr-lg {
    margin-right: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mb-lg {
    margin-bottom: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-ml-lg {
    margin-left: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mblock-lg {
    margin-block: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-minline-lg {
    margin-inline: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-unit-lg-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-lg-left-capped > * {
    grid-column: 2;
  }
  .util-unit-lg-left-capped > figure {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .util-unit-lg-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-lg-right-capped > * {
    grid-column: 1;
  }
  .util-unit-lg-right-capped > figure {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
@media only screen and (min-width: 1200px) {
  .util-w-xl-full {
    width: 100%;
  }
  .util-d-xl-none {
    display: none;
  }
  .util-d-xl-block {
    display: block;
  }
  .util-d-xl-flex {
    display: flex;
  }
  .util-d-xl-flex-evenly {
    display: flex;
  }
  .util-d-xl-flex-evenly > * {
    flex: 1;
  }
  .util-d-xl-grid {
    display: grid;
  }
  .util-d-xl-table {
    display: table;
  }
  .util-d-xl-table-row {
    display: table-row;
  }
  .util-d-xl-table-cell {
    display: table-cell;
  }
  .util-d-xl-table-header {
    display: table-header;
  }
  .util-d-xl-table-footer {
    display: table-footer;
  }
  .util-d-xl-table-row-group {
    display: table-row-group;
  }
  .util-d-xl-table-header-group {
    display: table-header-group;
  }
  .util-d-xl-table-footer-group {
    display: table-footer-group;
  }
  .util-sticky-xl-top {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-sticky-xl-bottom {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-fixed-xl-top {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-fixed-xl-bottom {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-text-xl-start {
    text-align: start;
  }
  .util-text-xl-center {
    text-align: center;
  }
  .util-text-xl-end {
    text-align: end;
  }
  .util-jc-xl-start {
    justify-content: flex-start;
  }
  .util-jc-xl-center {
    justify-content: center;
  }
  .util-jc-xl-end {
    justify-content: flex-end;
  }
  .util-jc-xl-between {
    justify-content: space-between;
  }
  .util-jc-xl-around {
    justify-content: space-around;
  }
  .util-fwrap-xl-wrap {
    flex-wrap: wrap;
  }
  .util-pt-xl {
    padding-top: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pr-xl {
    padding-right: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pb-xl {
    padding-bottom: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pl-xl {
    padding-left: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pblock-xl {
    padding-block: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pinline-xl {
    margin-inline: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-mt-xl {
    margin-top: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mr-xl {
    margin-right: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mb-xl {
    margin-bottom: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-ml-xl {
    margin-left: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mblock-xl {
    margin-block: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-minline-xl {
    margin-inline: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-unit-xl-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-xl-left-capped > * {
    grid-column: 2;
  }
  .util-unit-xl-left-capped > figure {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .util-unit-xl-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-xl-right-capped > * {
    grid-column: 1;
  }
  .util-unit-xl-right-capped > figure {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
@media only screen and (min-width: 1400px) {
  .util-w-xxl-full {
    width: 100%;
  }
  .util-d-xxl-none {
    display: none;
  }
  .util-d-xxl-block {
    display: block;
  }
  .util-d-xxl-flex {
    display: flex;
  }
  .util-d-xxl-flex-evenly {
    display: flex;
  }
  .util-d-xxl-flex-evenly > * {
    flex: 1;
  }
  .util-d-xxl-grid {
    display: grid;
  }
  .util-d-xxl-table {
    display: table;
  }
  .util-d-xxl-table-row {
    display: table-row;
  }
  .util-d-xxl-table-cell {
    display: table-cell;
  }
  .util-d-xxl-table-header {
    display: table-header;
  }
  .util-d-xxl-table-footer {
    display: table-footer;
  }
  .util-d-xxl-table-row-group {
    display: table-row-group;
  }
  .util-d-xxl-table-header-group {
    display: table-header-group;
  }
  .util-d-xxl-table-footer-group {
    display: table-footer-group;
  }
  .util-sticky-xxl-top {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-sticky-xxl-bottom {
    position: sticky;
    top: 0;
    z-index: var(--util-zindex-sticky);
  }
  .util-fixed-xxl-top {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-fixed-xxl-bottom {
    position: fixed;
    top: 0;
    z-index: var(--util-zindex-fixed);
  }
  .util-text-xxl-start {
    text-align: start;
  }
  .util-text-xxl-center {
    text-align: center;
  }
  .util-text-xxl-end {
    text-align: end;
  }
  .util-jc-xxl-start {
    justify-content: flex-start;
  }
  .util-jc-xxl-center {
    justify-content: center;
  }
  .util-jc-xxl-end {
    justify-content: flex-end;
  }
  .util-jc-xxl-between {
    justify-content: space-between;
  }
  .util-jc-xxl-around {
    justify-content: space-around;
  }
  .util-fwrap-xxl-wrap {
    flex-wrap: wrap;
  }
  .util-pt-xxl {
    padding-top: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pr-xxl {
    padding-right: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pb-xxl {
    padding-bottom: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pl-xxl {
    padding-left: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pblock-xxl {
    padding-block: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-pinline-xxl {
    margin-inline: calc(var(--util-spacer) * var(--util-padding));
  }
  .util-mt-xxl {
    margin-top: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mr-xxl {
    margin-right: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mb-xxl {
    margin-bottom: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-ml-xxl {
    margin-left: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-mblock-xxl {
    margin-block: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-minline-xxl {
    margin-inline: calc(var(--util-spacer) * var(--util-margin));
  }
  .util-unit-xxl-left-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-xxl-left-capped > * {
    grid-column: 2;
  }
  .util-unit-xxl-left-capped > figure {
    grid-column: 1;
    grid-row: 1 / span 3;
  }
  .util-unit-xxl-right-capped {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
  }
  .util-unit-xxl-right-capped > * {
    grid-column: 1;
  }
  .util-unit-xxl-right-capped > figure {
    grid-column: 2;
    grid-row: 1 / span 3;
  }
}
/*# sourceMappingURL=utils-pico.css.map */