/* containerized hero */
.theme-container[data-thm-scope="section.containerized-hero"] {
	> [data-ds=wrap] { padding-block: var(--theme-padding); }
}

/* containerized stack */

.theme-container[data-thm-scope="section.containerized-stack"] {
	> [data-ds=wrap] { 
		padding-block: var(--theme-padding); 
	}
}

[data-thm-role=section_title] {
	font-size: 2rem;
	text-align: center;
	margin-bottom: calc(1.5*var(--theme-margin));
}

[data-thm-scope="section.containerized-stack"] {
	&[data-ds=unit]:not(:last-child) { 
		margin-bottom: var(--theme-margin); 
	}
}

[data-thm-scope="section.header-simple"][data-ds=unit] > [data-ds-sub=unit_head] {  display: flex; justify-content: center; align-items:center; padding-block: var(--theme-padding) }
[data-thm-scope="section.header-simple"][data-thm-role=container] > [data-ds=wrap] { padding-block: var(--theme-margin) }

[data-thm-scope="section.hero-top-simple"][data-thm-role=container] { min-height: 400px; }


/* md */
@media screen and (min-width: 768px) {
	[data-thm-scope="section.header-simple"][data-ds=unit] { display: flex; }
	[data-thm-scope="section.header-simple"][data-ds=unit] > [data-ds-sub=unit_body] { flex: 1; }
}

/* containerized-unit *

[data-thm-scope="section.containerized-unit"][data-thm-role=container] > [data-ds=wrap] { padding-block: var(--theme-padding); }
[data-thm-scope="section.containerized-unit"][data-ds=unit] > [data-ds-sub=unit_head] { padding-bottom: var(--theme-padding); }
[data-thm-scope="section.containerized-unit"][data-ds=unit] > [data-ds-sub=unit_body] { padding-bottom: var(--theme-margin); }

[data-ds-sub=unit_head] > [data-thm-scope="section.containerized-unit"][data-ds=axis] > * { font-size: 2em; font-weight: 700; }
[data-ds-sub=unit_body] > [data-thm-scope="section.containerized-unit"][data-ds=axis] > * { font-size: 1.5em; }
[data-ds-sub=unit_foot] > [data-thm-scope="section.containerized-unit"][data-ds=axis] > * { font-size: 1em; }

/* containerized-units *

[data-thm-scope="section.containerized-units"][data-thm-role=container] > [data-ds=wrap] { padding-block: var(--theme-padding); }
[data-thm-scope="section.containerized-units"][data-ds="unit"]:not(:last-child) { margin-bottom: var(--theme-margin); }
[data-thm-scope="section.containerized-units"][data-ds="unit"] > [data-ds-sub=unit_head] { padding-bottom: var(--theme-padding); }
[data-thm-scope="section.containerized-units"][data-ds="unit"] > [data-ds-sub=unit_body] { padding-bottom: var(--theme-margin); }

[data-ds-sub=unit_head] > [data-thm-scope="section.containerized-units"][data-ds=axis] > * { font-size: 2em; font-weight: 600; }
[data-ds-sub=unit_body] > [data-thm-scope="section.containerized-units"][data-ds=axis] > * { font-size: 1.5em; }
[data-ds-sub=unit_foot] > [data-thm-scope="section.containerized-units"][data-ds=axis] > * { font-size: 1em; }

*/