/* containerized hero */
.theme-container[data-ds-scope="section.containerized-hero"] {
	> [data-ds="wrap"] { padding-block: var(--theme-padding); }
}

/* containerized stack */

.theme-container[data-ds-scope="section.containerized-stack"] {
	> [data-ds="wrap"] { 
		padding-block: var(--theme-padding); 
	}
}

[data-ds-scope="section.containerized-stack"] {
	&[data-ds="unit"]:not(:last-child) { 
		margin-bottom: var(--theme-margin); 
	}

	&[data-ds-role="section-title"] {
		font-size: 2rem;
		text-align: center;
		margin-bottom: calc(1.5*var(--theme-margin));
	}
}

[data-ds-scope="section.header-simple"][data-ds="unit"] > [data-ds="unit-head"] {  display: flex; justify-content: center; align-items:center; padding-block: var(--theme-padding) }
[data-ds-scope="section.header-simple"][data-ds-role="container"] > [data-ds="wrap"] { padding-block: var(--theme-margin) }

[data-ds-scope="section.hero-top-simple"][data-ds-role="container"] { min-height: 400px; }


/* md */
@media screen and (min-width: 768px) {
	[data-ds-scope="section.header-simple"][data-ds="unit"] { display: flex; }
	[data-ds-scope="section.header-simple"][data-ds="unit"] > [data-ds="unit-body"] { flex: 1; }
}

/* containerized-unit */

[data-ds-scope="section.containerized-unit"][data-ds-role="container"] > [data-ds="wrap"] { padding-block: var(--theme-padding); }
[data-ds-scope="section.containerized-unit"][data-ds="unit"] > [data-ds="unit-head"] { padding-bottom: var(--theme-padding); }
[data-ds-scope="section.containerized-unit"][data-ds="unit"] > [data-ds="unit-body"] { padding-bottom: var(--theme-margin); }

[data-ds="unit-head"] > [data-ds-scope="section.containerized-unit"][data-ds="axis"] > * { font-size: 3em; font-weight: 900; }
[data-ds="unit-body"] > [data-ds-scope="section.containerized-unit"][data-ds="axis"] > * { font-size: 2em; }
[data-ds="unit-foot"] > [data-ds-scope="section.containerized-unit"][data-ds="axis"] > * { font-size: 1em; }

/* containerized-units */

[data-ds-scope="section.containerized-units"][data-ds-role="container"] > [data-ds="wrap"] { padding-block: var(--theme-padding); }
[data-ds-scope="section.containerized-units"][data-ds="unit"]:not(:last-child) { margin-bottom: var(--theme-margin); }
[data-ds-scope="section.containerized-units"][data-ds="unit"] > [data-ds="unit-head"] { padding-bottom: var(--theme-padding); }
[data-ds-scope="section.containerized-units"][data-ds="unit"] > [data-ds="unit-body"] { padding-bottom: var(--theme-margin); }

[data-ds="unit-head"] > [data-ds-scope="section.containerized-units"][data-ds="axis"] > * { font-size: 2em; font-weight: 600; }
[data-ds="unit-body"] > [data-ds-scope="section.containerized-units"][data-ds="axis"] > * { font-size: 1.5em; }
[data-ds="unit-foot"] > [data-ds-scope="section.containerized-units"][data-ds="axis"] > * { font-size: 1em; }
