<div class="fanstatic-cluster-basic">
    <div class="fanstatic---units"></div>
    <div class="fanstatic---columns"></div>
    <div class="fanstatic---tabs"></div>
    <div class="fanstatic---slider"></div>
</div>

<script>
var _roof;
var _props = {
    type: 'COLUMNS',
};

return {
    onload: function(roof, data, url) {
        _roof = roof;
        _props = Object.assign(_props, data);
    },
    controller: {
        prop: function(name, newValue){
            if (typeof(newValue) != undefined) {
                _props[name] = newValue;
            } 

            return _props[name]; 
        },
        addUnitGroup: function(name, label) {
            roof.querySelector('.fanstatic---units').insertAdjasentHTML('beforeend',`<div class="fanstatic---group" data-name="${name}" data-label="${label}"></div>`)
        },
        getUnitGroupElem: function(groupName){
            roof.querySelector(`.fanstatic---units > .fanstatic---group[data-name=${groupName}]`)
        },
        render: function(){

        }
    },
}
</script>