/* block.identity-basic */
[data-thm-role=label][data-thm-scope="block.identity-basic"] { 
	font-size: large;
}

/* section-block */
[data-thm-panel="block.section-block"] {
	> [data-thm-role="starts"] {
		margin-bottom: var(--theme-margin);

		text-align: center;

		font-size: 2rem;
		line-height: 1.4;
		letter-spacing: 1.6px;

		> :last-child:not(:only-child) {
			font-size: .75em;
		}
	}
}

.theme-hero-unit {
	> [data-ds-sub=unit_head] {
		.theme-display-3();
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	> [data-ds-sub=unit_body] {
		.theme-display-2();
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	> [data-ds-sub=unit_foot] {
		.theme-display-1();
	}
}

.theme-sidekick-unit {
	> [data-ds-sub=unit_head] {
		.theme-display-2();
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}

	> [data-ds-sub=unit_body] {
		.theme-display-1();
		&:not(:last-child) {
			margin-bottom: 1rem;
		}
	}
}


.theme-left-capped {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr auto;

	> [data-ds-sub=unit_cap] {
		grid-column: 1;
		grid-row: 1/span 3;

		img {
			display: block;
		}
	}
}

.theme-right-capped {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto 1fr auto;

	> [data-ds-sub=unit_cap] {
		grid-column: 2;
		grid-row: 1/span 3;
		grid-row: 1/4;
	}
}