/* class */

body[data-theme=sandbox] .container {
	margin: 0 auto;
	max-width: 600px;
}

/* component */

body[data-theme=sandbox] *[data-component='button.basic'] {
	font-weight: 600;
}

/* design */

body[data-theme=sandbox] *[data-design=unit] {
	border: 1px solid black;
}
