@import url(../fnst.css);
@import url(component.header.css);
@import url(component.navigation.css);
@import url(component.button.css);
@import url(component.section.css);

/* class */

.container {
	margin: 0 auto;
	max-width: 768px;
}

/* design */

*[data-design=unit] {
	border: 1px solid black;
}
