.fanstatic-cluster .fanstatic---units { display:none; }
.fanstatic-cluster .fanstatic---columns { display:none; }
.fanstatic-cluster .fanstatic---tabs { display:none; }
.fanstatic-cluster .fanstatic---slider { display:none; }